In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame(np.arange(10,22).reshape(3,4), index=['a','b','c'], columns=['A','B','C','D'])

In [4]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [5]:
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [6]:
df.loc['b':'c']

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [7]:
df.A>15

a    False
b    False
c     True
Name: A, dtype: bool

In [8]:
df.loc[df.A>15]

    A   B   C   D
c  18  19  20  21

In [10]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [11]:
df.loc['a':,'A']

a    10
b    14
c    18
Name: A, dtype: int64

In [12]:
df.loc[['a','b'], ['B','D']]

    B   D
a  11  13
b  15  17

In [13]:
df.loc[df.A>10, ['C','D']]

    C   D
b  16  17
c  20  21

In [14]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [15]:
df.iloc[0,1]

11

In [16]:
df.iloc[:2, 2]

a    12
b    16
Name: C, dtype: int64

In [17]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: c, dtype: int64

In [21]:
df=pd.DataFrame(np.arange(10,22).reshape(3,4), index=['a','b','c'], columns=['A','B','C','D'])

In [23]:
df.iloc[-1]=df.iloc[-1]*2
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  36  38  40  42

In [24]:
s=pd.Series(range(10))
s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [25]:
s[3]=np.nan
s

0    0.0
1    1.0
2    2.0
3    NaN
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [28]:
import seaborn as sns
titanic=sns.load_dataset('titanic')
titanic.count()

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64

In [29]:
s2=pd.Series(np.random.randint(6, size=100))
s2

0     4
1     2
2     0
3     3
4     2
     ..
95    0
96    0
97    3
98    0
99    3
Length: 100, dtype: int64

In [31]:
s2.count()

100

In [33]:
s2.value_counts()

4    24
0    20
5    15
2    14
3    14
1    13
dtype: int64

In [34]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  36  38  40  42

In [39]:
df.iloc[0].value_counts()

10    1
11    1
12    1
13    1
Name: a, dtype: int64